.App
{
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  height: 540px;
  position: static;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.App img
{
  width: 50vw;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -45%);
  height: 60vh;
}

.App input
{
  margin-top: 20px;
  top: 30%;
  position: relative;
  background-color: transparent;
  border: none;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  color: white;
}

.App p
{
  position: relative;
  top: 40%;
  color: white;
  font-size: larger;
  font-weight: bolder;
}

body
{
  background-color: #282c34;
  color: white;
}

/* media query when on mobile adjust image*/
@media only screen and (max-width: 600px)
{
  .App img
  {
    width: 90vw;
    position: absolute;
    top: 30%;
    left: 50%;
    height: 40vh;
  }
}